<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div id="container">
    <form method="post" action="/answer" enctype="multipart/form-data">
        <div class="col-sm-12">
            <input type="text" name="word1">
            <textarea name="replaceOptions1"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word2">
            <textarea name="replaceOptions2"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word3">
            <textarea name="replaceOptions3"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word4">
            <textarea name="replaceOptions4"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word5">
            <textarea name="replaceOptions5"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word6">
            <textarea name="replaceOptions6"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word7">
            <textarea name="replaceOptions7"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word8">
            <textarea name="replaceOptions8"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word9">
            <textarea name="replaceOptions9"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word10">
            <textarea name="replaceOptions10"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word11">
            <textarea name="replaceOptions11"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word12">
            <textarea name="replaceOptions12"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word13">
            <textarea name="replaceOptions13"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word14">
            <textarea name="replaceOptions14"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word15">
            <textarea name="replaceOptions15"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word17">
            <textarea name="replaceOptions17"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word16">
            <textarea name="replaceOptions16"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word18">
            <textarea name="replaceOptions18"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word19">
            <textarea name="replaceOptions19"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word20">
            <textarea name="replaceOptions20"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word21">
            <textarea name="replaceOptions21"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word22">
            <textarea name="replaceOptions22"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word23">
            <textarea name="replaceOptions23"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word24">
            <textarea name="replaceOptions24"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word25">
            <textarea name="replaceOptions25"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word26">
            <textarea name="replaceOptions26"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word27">
            <textarea name="replaceOptions27"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word28">
            <textarea name="replaceOptions28"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word29">
            <textarea name="replaceOptions29"></textarea>
        </div>
        <div class="col-sm-12">
            <input type="text" name="word30">
            <textarea name="replaceOptions30"></textarea>
        </div>
        <input name="filename" type="file">
        <input type="submit" value="submit">
    </form>
</div>
</body>

</html>